<p> Nom de famille : <%= @user.last_name %> </p>

<p> Prénom : <%= @user.first_name %> </p>

<p> Description : <%= @user.describtion %> </p>

<p> E-mail : <%=@user.email%></p>

<p> Age : <%= @user.age %> </p>

<p> Ville : <%= @user.city.name %> </p>
<%= link_to " page de la ville ", city_path, class: "btn btn-primary" %> </p>